body {
    margin: 0;
    overflow: hidden;
}

div#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

h1 {
    font-size: 1.5vw;
}

div#tipbar {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #1d3328;
    z-index: 2;
}

div#cityInfo {
    position: absolute;
    bottom: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #1d3328;
    z-index: 2;
    border-radius: 2%/4%;
    padding-left: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-right: 2%;
}

div#cityInfo h1 {
    font-size: 0.8vw;
}

p {
    font-size: 1vw;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#citationBar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #1d3328;
    z-index: 3;
}

div#outerCitation {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: transparent;
    z-index: 3;
}

div#citationBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    opacity: 0.7;
    background-color: grey;
    z-index: 4;
}

div#citations {
    position: absolute;
    top: 10vh;
    right: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: #1d3328;
    border-radius: 4%/6%;
    z-index: 5;
    opacity: 0.9;
}

div#citations h1 {
    font-family: sans-serif;
    font-size: 3vw;
    text-align: center;
    color: white;
}

div#citations p {
    font-size: 1vw;
    text-align: center;
    color: white;
}

div#presentationInfoBar {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #1d3328;
    z-index: 3;
}

div#citationBar {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5vw;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: #1d3328;
    z-index: 3;
}

div#outerPresentationInfo {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background-color: transparent;
    z-index: 3;
}

div#presentationInfoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    opacity: 0.7;
    background-color: grey;
    z-index: 4;
}

div#presentationInfo {
    position: absolute;
    top: 10vh;
    right: 10vw;
    width: 80vw;
    height: 80vh;
    background-color: #1d3328;
    border-radius: 4%/6%;
    z-index: 5;
    opacity: 0.9;
}

div#presentationInfo h1 {
    font-family: sans-serif;
    font-size: 3vw;
    text-align: center;
    color: white;
}

div#presentationInfo p {
    padding-left: 1vw;
    width: 78vw;
    font-size: 1.5vw;
    text-align: center;
    color: white;
}

svg {
    position: absolute;
    top: 12vh;
    right: 12vw;
    z-index: 7;
    color: white;
}